<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Address</key>
		<string>21, Namdaemunsijang 4-gil, Jung-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.5591515,126.9754523}</string>
		<key>RegionIdentifier</key>
		<string>Namdaemun Shopping Center</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>105, Namsangongwon-gil, Yongsan-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.5509515,126.9871078}</string>
		<key>RegionIdentifier</key>
		<string>Seoul Tower Plaza</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>123, Meodeu-ro, Boryeong-si, Chungcheongnam-do
</string>
		<key>Coord</key>
		<string>{36.3155242,126.50858}</string>
		<key>RegionIdentifier</key>
		<string>Daecheon Beach</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>190, Haeoreum-ro, Sokcho-si, Gangwon-do
</string>
		<key>Coord</key>
		<string>{38.1905551,128.5997329}</string>
		<key>RegionIdentifier</key>
		<string>Sokcho Beach</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>621, Hu-ri, Haean-myeon, Yanggu-gun, Gangwon-do
</string>
		<key>Coord</key>
		<string>{38.3282683,128.124224}</string>
		<key>RegionIdentifier</key>
		<string>Eulji Observatory</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>Dobong-dong, Dobong-gu, Seoul 
</string>
		<key>Coord</key>
		<string>{37.6854511,127.0104753}</string>
		<key>RegionIdentifier</key>
		<string>Dobongsan Mountain</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>243-60, World Cup-ro, Mapo-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.5652,126.8873119}</string>
		<key>RegionIdentifier</key>
		<string>World Cup Park</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>Seoul-si Seongdong-gu Seongsu1-ga 1-dong
</string>
		<key>Coord</key>
		<string>{37.5273289,126.9174507}</string>
		<key>RegionIdentifier</key>
		<string>Hangang Park</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>83, Sopa-ro, Jung-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.556595,126.9817857}</string>
		<key>RegionIdentifier</key>
		<string>Namsan Cable Car</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>57-228, Hwajanggol-gil, Seongju-myeon, Boryeong-si, Chungcheongnam-do
</string>
		<key>Coord</key>
		<string>{36.3368165,126.6533277}</string>
		<key>RegionIdentifier</key>
		<string>Seongjusan Recreational Forest</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>233-4, Ihyeon-ri, Haean-myeon, Yanggu-gun, Gangwon-do
</string>
		<key>Coord</key>
		<string>{38.1486,127.9830059}</string>
		<key>RegionIdentifier</key>
		<string>The 4th Tunnel</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>Do-dong, Ulleung-eup, Ulleung-gun, Gyeongsangbuk-do
</string>
		<key>Coord</key>
		<string>{37.4939544,130.866045}</string>
		<key>RegionIdentifier</key>
		<string>Dokdo Island Observatory Car</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>161, Sajik-ro, Jongno-gu, Seoul</string>
		<key>Coord</key>
		<string>{37.5796212,126.9748523}</string>
		<key>RegionIdentifier</key>
		<string>Gyeongbokgung Palace</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>181, Gwangmyeong-ro, Gwacheon-si, Gyeonggi-do
</string>
		<key>Coord</key>
		<string>{37.5447661,127.0209543}</string>
		<key>RegionIdentifier</key>
		<string>Seoulland</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>29, Itaewon-ro, Yongsan-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.5369517,126.9749299}</string>
		<key>RegionIdentifier</key>
		<string>The War Memorial of Korea</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>137, Seobinggo-ro, Yongsan-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.5238506,126.9782761}</string>
		<key>RegionIdentifier</key>
		<string>National Museum of Korea</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>240, World Cup-ro, Mapo-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.568263,126.8950887}</string>
		<key>RegionIdentifier</key>
		<string>Seoul World Cup Stadium</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>95, Jikjisa-gil, Daehang-myeon, Gimcheon-si, Gyeongsangbuk-do
</string>
		<key>Coord</key>
		<string>{36.1165279,128.0021674}</string>
		<key>RegionIdentifier</key>
		<string>Jikjisa Temple</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>137, Biamsa-gil, Jeonui-myeon, , Sejong-si
</string>
		<key>Coord</key>
		<string>{35.8758985,128.5941232}</string>
		<key>RegionIdentifier</key>
		<string>Biamsa Temple</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>25-15, Haegok-ro, Cheoin-gu, Yongin-si, Gyeonggi-do
</string>
		<key>Coord</key>
		<string>{37.1887563,127.2744993}</string>
		<key>RegionIdentifier</key>
		<string>Wawoojongsa Temple</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>161, Taepyeong-ro, Buk-gu, Daegu
</string>
		<key>Coord</key>
		<string>{35.8758985,128.5941232}</string>
		<key>RegionIdentifier</key>
		<string>Lotte Department Store - Daegu Branch</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>7 Bupyeong-daero, Bupyeong-gu, Incheon
</string>
		<key>Coord</key>
		<string>{37.4995531,126.7127053}</string>
		<key>RegionIdentifier</key>
		<string>Bupyeong Modoo Mall</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>105, Namsangongwon-gil, Yongsan-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.5509515,126.9871078}</string>
		<key>RegionIdentifier</key>
		<string>Namsan Seoul Tower</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>35, Haeanseohwa-ro, Haean-myeon, Yanggu-gun, Gangwon-do
</string>
		<key>Coord</key>
		<string>{38.2896083,128.1437215}</string>
		<key>RegionIdentifier</key>
		<string>Yanggu Unification Hall</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>595, Hosu-ro, Ilsandong-gu, Goyang-si, Gyeonggi-do
</string>
		<key>Coord</key>
		<string>{37.6583952,126.7620346}</string>
		<key>RegionIdentifier</key>
		<string>Ilsan Lake Park</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>400, World Cup buk-ro, Mapo-gu, Seoul</string>
		<key>Coord</key>
		<string>{37.5804376,126.887287}</string>
		<key>RegionIdentifier</key>
		<string>Korean Film Museum</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>35, Haeanseohwa-ro, Yanggu-gun, Gangwon-do
</string>
		<key>Coord</key>
		<string>{38.2896083,128.1437215}</string>
		<key>RegionIdentifier</key>
		<string>War Memorial Museum in Yanggu</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>Underground, 396, Gangnam-daero, Gangnam-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.4979462,127.0254323}
</string>
		<key>RegionIdentifier</key>
		<string>Gangnam Station Underground Shopping Center</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>Jongno3-ga, Jongno-gu, Seoul-si
</string>
		<key>Coord</key>
		<string>{37.5703334,126.9901877}</string>
		<key>RegionIdentifier</key>
		<string>Jongno 3(sam)-ga Jewelry District</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>Janghoe-ri, Danseong-myeon, Danyang-gun, Chungcheongbuk-do
</string>
		<key>Coord</key>
		<string>{36.9317376,128.2421095}</string>
		<key>RegionIdentifier</key>
		<string>Gudambong Peak &amp; Oksunbong Peak</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>139, Seobinggo-ro, Yongsan-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.5211782,126.9787493}</string>
		<key>RegionIdentifier</key>
		<string>National Hangeul Museum</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>9, Digital-ro 10-gil, Geumcheon-gu, Seoul
</string>
		<key>Coord</key>
		<string>{37.4773606,126.8869551}</string>
		<key>RegionIdentifier</key>
		<string>Hyundai City Outlet - Gasan Branch</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>618, Jaranman-ro, Hai-myeon, Goseong-gun, Gyeongsangnam-do
</string>
		<key>Coord</key>
		<string>{34.9082134,128.1465743}</string>
		<key>RegionIdentifier</key>
		<string>Goseong Dinosaur Museum</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>23, Digital-ro 9-gil, Geumcheon-gu, Seoul</string>
		<key>Coord</key>
		<string>{37.4786755,126.8843081}</string>
		<key>RegionIdentifier</key>
		<string>Mario Outlet</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>1, Jong-ro, Jongno-gu, Seoul</string>
		<key>Coord</key>
		<string>{37.5709047,126.975844}</string>
		<key>RegionIdentifier</key>
		<string>Kyobo Bookstore Ltd.</string>
	</dict>
	<dict>
		<key>Address</key>
		<string>Dobong-dong, Dobong-gu, Seoul 
</string>
		<key>Coord</key>
		<string>{37.6854511,127.0104753}</string>
		<key>RegionIdentifier</key>
		<string>Dobongsan Mountain</string>
	</dict>
</array>
</plist>
