<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageKey</key>
		<string>guanghuamun</string>
		<key>nameKey</key>
		<string>Detailed information for major tourist sites</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>korean_dress_store</string>
		<key>nameKey</key>
		<string>Region monitoring to alert visitors when they are close to tourist sites</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>national_museum_of_contemporary_history</string>
		<key>nameKey</key>
		<string>Language and translation help</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>pagoda_national_palace_museum</string>
		<key>nameKey</key>
		<string>Image galleries, tourism vidoes, and more....</string>
	</dict>
</array>
</plist>
