<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Answer</key>
		<integer>1</integer>
		<key>Choice4</key>
		<string>개</string>
		<key>Choice3</key>
		<string>고양이
사자</string>
		<key>Choice2</key>
		<string>사자</string>
		<key>Choice1</key>
		<string>코끼리</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>elephant</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>3</integer>
		<key>Choice4</key>
		<string>새</string>
		<key>Choice3</key>
		<string>기린</string>
		<key>Choice2</key>
		<string>엘크</string>
		<key>Choice1</key>
		<string>황소</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>giraffe</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>4</integer>
		<key>Choice4</key>
		<string>하마</string>
		<key>Choice3</key>
		<string>고양이</string>
		<key>Choice2</key>
		<string>사슴</string>
		<key>Choice1</key>
		<string>코끼리</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>hippo</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>3</integer>
		<key>Choice4</key>
		<string>새</string>
		<key>Choice3</key>
		<string>원숭이</string>
		<key>Choice2</key>
		<string>모기</string>
		<key>Choice1</key>
		<string>고양이</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>monkey</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>3</integer>
		<key>Choice4</key>
		<string>호랑이</string>
		<key>Choice3</key>
		<string>팬더</string>
		<key>Choice2</key>
		<string>뱀</string>
		<key>Choice1</key>
		<string>사자</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>panda</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>4</integer>
		<key>Choice4</key>
		<string>앵무새</string>
		<key>Choice3</key>
		<string>펭귄</string>
		<key>Choice2</key>
		<string>독수리</string>
		<key>Choice1</key>
		<string>공작</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>parrot</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>2</integer>
		<key>Choice4</key>
		<string>사자</string>
		<key>Choice3</key>
		<string>봉인</string>
		<key>Choice2</key>
		<string>펭귄</string>
		<key>Choice1</key>
		<string>물고기</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>penguin</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>3</integer>
		<key>Choice4</key>
		<string>소</string>
		<key>Choice3</key>
		<string>돼지</string>
		<key>Choice2</key>
		<string>말
소</string>
		<key>Choice1</key>
		<string>양</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>pig</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>2</integer>
		<key>Choice4</key>
		<string>쥐</string>
		<key>Choice3</key>
		<string>뱀</string>
		<key>Choice2</key>
		<string>토끼</string>
		<key>Choice1</key>
		<string>사슴</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>rabbit</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>4</integer>
		<key>Choice4</key>
		<string>뱀</string>
		<key>Choice3</key>
		<string>악어</string>
		<key>Choice2</key>
		<string>새</string>
		<key>Choice1</key>
		<string>
연필</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>snake</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string>
연필</string>
		<key>Choice3</key>
		<string>
연필</string>
		<key>Choice2</key>
		<string>
연필</string>
		<key>Choice1</key>
		<string>pencil</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_024</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>pen</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_025</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>book</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_035</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>folder</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_036</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>laptop</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_049</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>computer</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_051</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>cell_phone</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_064</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>headphones</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_084</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>toothbrush</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_095</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>bandaid</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_100</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>salt</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_122</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>pepper</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_123</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>coffee</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_124</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>bottle</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_127</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>fork</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_129</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>spoon</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_130</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>knife</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_134</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>blender</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_137</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>bag_purse</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_144</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>steering_wheel</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_147</string>
	</dict>
	<dict>
		<key>Answer</key>
		<integer>0</integer>
		<key>Choice4</key>
		<string></string>
		<key>Choice3</key>
		<string></string>
		<key>Choice2</key>
		<string></string>
		<key>Choice1</key>
		<string>keys</string>
		<key>Question</key>
		<string>How do you spell this in Korean?</string>
		<key>ImagePath</key>
		<string>genericItem_color_154</string>
	</dict>
</array>
</plist>
