<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>pkm_37_ship</string>
		<key>coordinate</key>
		<string>{37.5359,126.9782}</string>
		<key>subtitle</key>
		<string>PKM-357 National Security Exhibition Pavilion</string>
		<key>title</key>
		<string>Restored Patrol Boat</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>c46_commando_transport</string>
		<key>coordinate</key>
		<string>{37.5357,126.9785}</string>
		<key>subtitle</key>
		<string>PKM-357 National Security Exhibition Pavilion</string>
		<key>title</key>
		<string>C-46 Commando Transport</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>b52_bomber</string>
		<key>coordinate</key>
		<string>{37.5354,126.9784}</string>
		<key>subtitle</key>
		<string>PKM-357 National Security Exhibition Pavilion</string>
		<key>title</key>
		<string>B-52 Stratofortress Bomber</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>children_museum_entrance</string>
		<key>coordinate</key>
		<string>{37.5366,126.9787}</string>
		<key>subtitle</key>
		<string>PKM-357 National Security Exhibition Pavilion</string>
		<key>title</key>
		<string>Children&apos;s Museum Entrance</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>douglas_macarthur_model</string>
		<key>coordinate</key>
		<string>{37.5365,126.9769}</string>
		<key>subtitle</key>
		<string>Korean War Exhibit Room 3</string>
		<key>title</key>
		<string>Douglas MacArthur Wax Model</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>war_veterans_profiles</string>
		<key>coordinate</key>
		<string>{37.5365,126.9766}</string>
		<key>subtitle</key>
		<string>Korean War Exhibit Room 3</string>
		<key>title</key>
		<string>War Veterans Profiles</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>library_war_memorial</string>
		<key>coordinate</key>
		<string>{37.5371,126.9760}</string>
		<key>subtitle</key>
		<string>Korean War Exhibit Room 3 Exit</string>
		<key>title</key>
		<string>Library</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>airmobile_operation</string>
		<key>coordinate</key>
		<string>{37.5365,126.9778}</string>
		<key>subtitle</key>
		<string>ROK Armed Forces Exhibit</string>
		<key>title</key>
		<string>Airmobile Operation</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>airmobile_operation</string>
		<key>coordinate</key>
		<string>{37.5376,126.9779}</string>
		<key>subtitle</key>
		<string>ROK Armed Forces Exhibit</string>
		<key>title</key>
		<string>Midway Viewing Area</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>coffeenamu</string>
		<key>coordinate</key>
		<string>{37.5369,126.9783}</string>
		<key>subtitle</key>
		<string>ROK Armed Forces Exhibit</string>
		<key>title</key>
		<string>Coffeenamu</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>3D_slam_eagle</string>
		<key>coordinate</key>
		<string>{37.5367,126.9781}</string>
		<key>subtitle</key>
		<string>ROK Armed Forces Exhibit</string>
		<key>title</key>
		<string>3D Slam Eagle Theater</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>navy_ship_bridge</string>
		<key>coordinate</key>
		<string>{37.5365,126.9777}</string>
		<key>subtitle</key>
		<string>ROK Armed Forces Exhibit</string>
		<key>title</key>
		<string>Navy Ship Bridge Model</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>flag_raising_exhibit</string>
		<key>coordinate</key>
		<string>{37.5368,126.9765}</string>
		<key>subtitle</key>
		<string>ROK Armed Forces Exhibit</string>
		<key>title</key>
		<string>Flag Raising Exhibit</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>flag_raising_exhibit</string>
		<key>coordinate</key>
		<string>{37.5368,126.9765}</string>
		<key>subtitle</key>
		<string>Korean War Exhibit Room 2</string>
		<key>title</key>
		<string>Flag Raising Exhibit</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>soldier_silhouette</string>
		<key>coordinate</key>
		<string>{37.5373,126.9764}</string>
		<key>subtitle</key>
		<string>Korean War Exhibit Room 2</string>
		<key>title</key>
		<string>Solider Silhouette Exhibit</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>war_movie_theater</string>
		<key>coordinate</key>
		<string>{37.5371,126.9765}</string>
		<key>subtitle</key>
		<string>Korean War Exhibit Room 2</string>
		<key>title</key>
		<string>War Movie Theater</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>war_exhibit_room_2_exit</string>
		<key>coordinate</key>
		<string>{37.5370,126.9766}</string>
		<key>subtitle</key>
		<string>Korean War Exhibit Room 2</string>
		<key>title</key>
		<string>Korean Warn Exhibit Room 2 Exit</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>war_exhibit_room_2_exit</string>
		<key>coordinate</key>
		<string>{37.5370,126.9766}</string>
		<key>subtitle</key>
		<string>Korean War Exhibit Room 2</string>
		<key>title</key>
		<string>Korean Warn Exhibit Room 2 Exit</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>memorial_hall</string>
		<key>coordinate</key>
		<string>{37.5373,126.9772}</string>
		<key>subtitle</key>
		<string>Memorial Hall</string>
		<key>title</key>
		<string>Memorial Hall</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>military_uniforms</string>
		<key>coordinate</key>
		<string>{37.5371,126.9766}</string>
		<key>subtitle</key>
		<string>War History Room 2</string>
		<key>title</key>
		<string>Military Uniforms of Great Han Empire</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>hwaseong_fortress</string>
		<key>coordinate</key>
		<string>{37.5371,126.9765}</string>
		<key>subtitle</key>
		<string>War History Room 2</string>
		<key>title</key>
		<string>Hwaseong Fortress Model</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>yi_jongmu_painting</string>
		<key>coordinate</key>
		<string>{37.5368,126.9766}</string>
		<key>subtitle</key>
		<string>War History Room 1</string>
		<key>title</key>
		<string>Yi Jongmu&apos;s Conquest of Daemado Painting</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>scaling_ladder</string>
		<key>coordinate</key>
		<string>{37.5368,126.9767}</string>
		<key>subtitle</key>
		<string>War History Room 1</string>
		<key>title</key>
		<string>Military Scaling Ladder</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>cavalry_goryeo</string>
		<key>coordinate</key>
		<string>{37.5367,126.9768}</string>
		<key>subtitle</key>
		<string>War History Room 1</string>
		<key>title</key>
		<string>Cavalry of Goryeo Model</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>turtleship</string>
		<key>coordinate</key>
		<string>{37.5369,126.9766}</string>
		<key>subtitle</key>
		<string>Lower Level</string>
		<key>title</key>
		<string>Turtleship</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>statue_of_brothers</string>
		<key>coordinate</key>
		<string>{37.5352,126.9761}</string>
		<key>subtitle</key>
		<string>South Side of Main Building</string>
		<key>title</key>
		<string>Statue of Brothers</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>cu_store</string>
		<key>coordinate</key>
		<string>{37.5358,126.9760}</string>
		<key>subtitle</key>
		<string>North of Statue of Brothers</string>
		<key>title</key>
		<string>CU Convenience Store</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>souvenir_gift_shop</string>
		<key>coordinate</key>
		<string>{37.5361, 126.9758}</string>
		<key>subtitle</key>
		<string>North of Statue of Brothers</string>
		<key>title</key>
		<string>Souvenir Gift Shop</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>imagePath</key>
		<string>wedding_hall</string>
		<key>coordinate</key>
		<string>{37.5367,126.9757}</string>
		<key>subtitle</key>
		<string>West of Main Building</string>
		<key>title</key>
		<string>Museum Wedding Hall Entrance</string>
	</dict>
</array>
</plist>
