<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Convenience Store</string>
		<key>type</key>
		<integer>1</integer>
		<key>location</key>
		<string>{37.5572,126.9224}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Withme Convenience Store</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Florist/Flower Shop</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5574,126.9226}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Green Flower</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Fried Chicken</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5573,126.9224}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Happy Choice Fried Chicken</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Cafe/Coffee Shop</string>
		<key>type</key>
		<integer>1</integer>
		<key>location</key>
		<string>{37.556,125.9228}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Editing Store Museum Cafe</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Bar/Pub</string>
		<key>type</key>
		<integer>9</integer>
		<key>location</key>
		<string>{37.5577,126.9227}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Bravo Life Pub</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Footwear Store</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5578,126.9229}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Foot Shop</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Restaurant/Food</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5578,126.9228}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Tasty Road</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Restaurant/Food</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5578,126.9229}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Izakaya</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Cafe/Coffee Shop</string>
		<key>type</key>
		<integer>1</integer>
		<key>location</key>
		<string>{37.5578,126.9229}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Cafe Moin</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Hospital/Clinic</string>
		<key>type</key>
		<integer>21</integer>
		<key>location</key>
		<string>{37.5572,126.9232}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Animal Hospital</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Restaurant/Food</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5572,126.9229}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Man Jok Oh Hyang Jokbal</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Pubs/Bars</string>
		<key>type</key>
		<integer>9</integer>
		<key>location</key>
		<string>{37.5574,126.9224}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Terrace Pub and Dining</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Leisure/Recreation</string>
		<key>type</key>
		<integer>0</integer>
		<key>location</key>
		<string>{37.5572,126.9224}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Bonita Salsa Dance Club</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Leisure/Recreation</string>
		<key>type</key>
		<integer>0</integer>
		<key>location</key>
		<string>{37.5574,126.9224}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Indie Band/Live Et Loud</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Restaurant/Food</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5575,126.9223}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Indie Band/Live Et Loud</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Beauty Salon</string>
		<key>type</key>
		<integer>4</integer>
		<key>location</key>
		<string>{37.5577,126.9220}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Beauty Salon</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Cafe/Coffee Shop</string>
		<key>type</key>
		<integer>1</integer>
		<key>location</key>
		<string>{37.5572,126.9224}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Cafe Reese</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Cafe/Coffee Shop</string>
		<key>type</key>
		<integer>1</integer>
		<key>location</key>
		<string>{37.5568,126.9219}</string>
		<key>address</key>
		<string>161-1 Donggyodong</string>
		<key>title</key>
		<string>Babeans Coffee</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Seafood Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5567,126.9219}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Indie Band/Live Et Loud</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Pubs/Bars</string>
		<key>type</key>
		<integer>9</integer>
		<key>location</key>
		<string>{37.5561,126.9214}</string>
		<key>address</key>
		<string>161-18 Donggyodong</string>
		<key>title</key>
		<string>Beer Bang European Free Pub</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Seafood Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5561,126.9208}</string>
		<key>address</key>
		<string>171 Donggyoro</string>
		<key>title</key>
		<string>Seafood Restaurant</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Mobile phone services</string>
		<key>type</key>
		<integer>5</integer>
		<key>location</key>
		<string>{37.5560,126.9208}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>U+ Square</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Korean Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5555,126.9209}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Byulchunji Restaurant</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Fast Food</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5555,126.9217}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>McDonalds</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Cafe/Coffee Shop</string>
		<key>type</key>
		<integer>1</integer>
		<key>location</key>
		<string>{37.5555,126.9217}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>PC Cafe</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Convenience Store</string>
		<key>type</key>
		<integer>2</integer>
		<key>location</key>
		<string>{37.5555,126.9218}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>CU Convenience Store</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Fast Food</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5555,126.9218}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>McDonalds</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Korean Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5545,126.9217}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Sinseon Seoultang</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Coffee Shop</string>
		<key>type</key>
		<integer>1</integer>
		<key>location</key>
		<string>{37.5546,126.9219}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Angel in Us Coffee</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Clothing Store</string>
		<key>type</key>
		<integer>20</integer>
		<key>location</key>
		<string>{37.5548,126.9219}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Forever 21</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>ATM/Bank</string>
		<key>type</key>
		<integer>10</integer>
		<key>location</key>
		<string>{37.5550,126.9218}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>KB Bank</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Pharmacy/Drugstore</string>
		<key>type</key>
		<integer>3</integer>
		<key>location</key>
		<string>{37.5550,126.9218}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Pharmacy</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Mobile phone services</string>
		<key>type</key>
		<integer>5</integer>
		<key>location</key>
		<string>{37.5546,126.9223}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Olleh Oh</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Cafe/Coffee Shop</string>
		<key>type</key>
		<integer>1</integer>
		<key>location</key>
		<string>{37.5547,126.9221}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Coffee Turis Babel</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Food/Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5542,126.9225}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Bumble Bee Restaurant</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Pharmacy/Drugstore</string>
		<key>type</key>
		<integer>3</integer>
		<key>location</key>
		<string>{37.5538,126.9224}</string>
		<key>address</key>
		<string>100 Eoulmadangno</string>
		<key>title</key>
		<string>Pharmacy</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Cosmetics Store</string>
		<key>type</key>
		<integer>4</integer>
		<key>location</key>
		<string>{37.5537,126.9222}</string>
		<key>address</key>
		<string>98-1 Eoulmadangno</string>
		<key>title</key>
		<string>The Saem Cosmetics</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Womens&apos; Fashion</string>
		<key>type</key>
		<integer>20</integer>
		<key>location</key>
		<string>{37.5537,126.9221}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Comma Women&apos;s Fashion</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Soup Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5537,126.9222}</string>
		<key>address</key>
		<string>98 Eoulmadangno</string>
		<key>title</key>
		<string>Soup/Stew Restaurant</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Italian Cuisine</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5535,126.9221}</string>
		<key>address</key>
		<string>96 Eoulmadangno</string>
		<key>title</key>
		<string>Kitchen Lab Italian Casual Restaurant</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string></string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5533,126.9219}</string>
		<key>address</key>
		<string>Eoulmadango, Seogyodong, Mapgou</string>
		<key>title</key>
		<string>Playground Clothing Restaurant</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Eyewear Store</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5533,126.9219}</string>
		<key>address</key>
		<string>Eoulmadango, Seogyodong, Mapgou</string>
		<key>title</key>
		<string>The Koon Eyewear</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Clothing Store</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5532,126.9219}</string>
		<key>address</key>
		<string>365-1 Seogyodong</string>
		<key>title</key>
		<string>Another Awesome Clothing Store</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Clothing Store</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5529,126.9218}</string>
		<key>address</key>
		<string>88 Eoulmadangno</string>
		<key>title</key>
		<string>Around 101 Clothing Store</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Clothing Store</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5527,126.9217}</string>
		<key>address</key>
		<string>86 Eoulmadangno</string>
		<key>title</key>
		<string>Dress24 Homme</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Korean Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5526,126.9217}</string>
		<key>address</key>
		<string>365-19 Seogyodong</string>
		<key>title</key>
		<string>Room Hof Soju</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Tarot Card Reading</string>
		<key>type</key>
		<integer>0</integer>
		<key>location</key>
		<string>{37.5524,126.9216}</string>
		<key>address</key>
		<string>365-23 Seogyodong</string>
		<key>title</key>
		<string>Queeny SBS MBC Tarot Reading</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Clothing/Accessories</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5523,126.9216}</string>
		<key>address</key>
		<string>Eoulmadangno</string>
		<key>title</key>
		<string>Accessoryholic</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Dessert/Cafe</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5524,126.9215}</string>
		<key>address</key>
		<string>Hong-ingno3gil</string>
		<key>title</key>
		<string>32 Parfait/Cafe Ann Hoise</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Korean Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5524,126.9213}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Kkunnori Room Soju Hof</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Art/Event Information Booth</string>
		<key>type</key>
		<integer>0</integer>
		<key>location</key>
		<string>{37.5523,126.9210}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Art Info Center</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Art/Event Information Booth</string>
		<key>type</key>
		<integer>22</integer>
		<key>location</key>
		<string>{37.5523,126.9209}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Police Station</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Japanese Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5523,126.9207}</string>
		<key>address</key>
		<string>30 Jandariro6gil</string>
		<key>title</key>
		<string>Konomi Japanese Restaurant</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Indoor Archery Games</string>
		<key>type</key>
		<integer>0</integer>
		<key>location</key>
		<string>{37.5523,126.9207}</string>
		<key>address</key>
		<string>30 Jandariro6gil</string>
		<key>title</key>
		<string>Indoor Archery Games</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Guitar Store</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5523,126.9203}</string>
		<key>address</key>
		<string>369-27 Seogyodong</string>
		<key>title</key>
		<string>Guitar Plant</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Guitar Store</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5522,126.9203}</string>
		<key>address</key>
		<string>19 Jandariro6gil</string>
		<key>title</key>
		<string>Ghandi Indian Restaurant</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Tattoo/Body Piercing</string>
		<key>type</key>
		<integer>0</integer>
		<key>location</key>
		<string>{37.5522,126.9201}</string>
		<key>address</key>
		<string>17 Jandariro6gil</string>
		<key>title</key>
		<string>Tattoo/Piercing</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Tattoo/Body Piercing</string>
		<key>type</key>
		<integer>2</integer>
		<key>location</key>
		<string>{37.5522,126.9204}</string>
		<key>address</key>
		<string>366-27 Seogyodong</string>
		<key>title</key>
		<string>Ministop</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Asian Cuisine</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5523,126.9208}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Thai Pho Cha</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Noodle Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5523,126.9208}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Tantan Noodles Kitchen</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Chicken Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5523,126.9210}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Cult2Chicken and Beer</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Chicken Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5520,126.9215}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Korea Tourist Police</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Food/Restaurant</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5519,126.9215}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Fusion Izakaya Pub</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Sportswear</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5518,126.9214}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Hot Multi Sports Plex Store</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Contact Lens Store</string>
		<key>type</key>
		<integer>8</integer>
		<key>location</key>
		<string>{37.5517,126.9214}</string>
		<key>address</key>
		<string>75 Eoulmadango</string>
		<key>title</key>
		<string>Contact Lens Store</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Arcade/Game Area</string>
		<key>type</key>
		<integer>0</integer>
		<key>location</key>
		<string>{37.5513,126.9215}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Zzang Games Arcade</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Game/Arcade Area</string>
		<key>type</key>
		<integer>0</integer>
		<key>location</key>
		<string>{37.5502,126.9210}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Game Zone</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Fast Food</string>
		<key>type</key>
		<integer>0</integer>
		<key>location</key>
		<string>{37.5495,126.9209}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Babs Steak and Salad Takeout</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Fast Food</string>
		<key>type</key>
		<integer>7</integer>
		<key>location</key>
		<string>{37.5491,126.9207}</string>
		<key>address</key>
		<string>41-1 Eoulmadango</string>
		<key>title</key>
		<string>Funny Land Cafe</string>
	</dict>
	<dict>
		<key>imagefilepath</key>
		<string></string>
		<key>subtitle</key>
		<string>Footwear</string>
		<key>type</key>
		<integer>20</integer>
		<key>location</key>
		<string>{37.5506,126.9211}</string>
		<key>address</key>
		<string>Hongdae Area</string>
		<key>title</key>
		<string>Dr Martens Footwear</string>
	</dict>
</array>
</plist>
