<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Digital Media City</key>
	<string>ChIJX-YLTAWZfDURvcJAkKtyW1I</string>
	<key>Itaewon</key>
	<string>ChIJHX2z-UqifDUR6L9ZIciWFzo</string>
	<key>Insadong</key>
	<string>ChIJoUzwDuiifDURpGVi0ArwvU0</string>
	<key>Gwanmunsa Temple</key>
	<string>ChIJP-ba5rFeezUR3iuW6l_sGJA</string>
	<key>World Cup Stadium</key>
	<string>ChIJ8aJ1KRaZfDURVUHcej_gDWg</string>
	<key>Seoul Grand Park</key>
	<string>ChIJNcDTNGdfezURe02IeYml3yQ</string>
	<key>Seoul Land</key>
	<string>ChIJ20xMxqGgfDURGokBIQOyJVI</string>
	<key>National Folk Museum of Korea</key>
	<string>ChIJod7tSseifDUR4HuzvkBA2ns</string>
	<key>Gyeongbokgung Palace</key>
	<string>ChIJod7tSseifDUR9hXHLFNGMIs</string>
	<key>Namsan Cable Car</key>
	<string>ChIJ9eMqtPeifDUR2ia2kC5oOIc</string>
	<key>Namsan Tower</key>
	<string>ChIJqWqOqFeifDURpYJ5LnxX-Fw</string>
	<key>Gimpo International Airport</key>
	<string>ChIJF6qs-dCcfDURVMw5Ij-Qd6w</string>
	<key>Seoul Station</key>
	<string>ChIJJ2-bhmaifDURyz2zTy7_8S8</string>
	<key>Incheon International Airport</key>
	<string>ChIJWfpeOoOaezUR1L5cy5agS40</string>
</dict>
</plist>
