<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>subtitle</key>
		<string>Daegu</string>
		<key>title</key>
		<string>Daegu</string>
		<key>latitude</key>
		<real>35.8797296</real>
		<key>longitude</key>
		<real>128.4964879</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>Seoul</string>
		<key>title</key>
		<string>Seoul</string>
		<key>latitude</key>
		<real>37.5650168</real>
		<key>longitude</key>
		<real>126.8491207</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>Busan</string>
		<key>title</key>
		<string>Busan</string>
		<key>longitude</key>
		<real>128.9313703</real>
		<key>latitude</key>
		<real>35.164369</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>Incheon</string>
		<key>title</key>
		<string>Incheon</string>
		<key>longitude</key>
		<real>126.5339207</real>
		<key>latitude</key>
		<real>37.4644669</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>Daejeon</string>
		<key>title</key>
		<string>Daejeon</string>
		<key>longitude</key>
		<real>127.3185879</real>
		<key>latitude</key>
		<real>36.3730795</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>Gwangju</string>
		<key>title</key>
		<string>Gwangju</string>
		<key>longitude</key>
		<real>126.7735878</real>
		<key>latitude</key>
		<real>35.1766797</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>Gyeonggi</string>
		<key>title</key>
		<string>Suwon</string>
		<key>longitude</key>
		<real>126.9556379</real>
		<key>latitude</key>
		<real>37.2787793</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>Ulsan</string>
		<key>title</key>
		<string>Ulsan</string>
		<key>longitude</key>
		<real>129.2110704</real>
		<key>latitude</key>
		<real>35.5619686</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>South Gyeongsang</string>
		<key>title</key>
		<string>Changwon</string>
		<key>longitude</key>
		<real>126.3956282</real>
		<key>latitude</key>
		<real>38.7699714</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>Gyeonggi</string>
		<key>title</key>
		<string>Goyang</string>
		<key>longitude</key>
		<real>126.7275879</real>
		<key>latitude</key>
		<real>37.6559292</real>
	</dict>
	<dict>
		<key>subtitle</key>
		<string>Gyeonggi</string>
		<key>title</key>
		<string>Yongin</string>
		<key>longitude</key>
		<real>126.5858231</real>
		<key>latitude</key>
		<real>37.2839293</real>
	</dict>
</array>
</plist>
